@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SFA.DAS.Admin.Roatp.Domain.Models
@using SFA.DAS.Admin.Roatp.Web.Infrastructure
@model SFA.DAS.Admin.Roatp.Web.Models.ApprenticeshipsUpdateViewModel
@{
    ViewData["Title"] = "update apprenticeships";
    ViewData["Description"] = "update apprenticeships";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_validationSummary" />
        <form asp-route="@RouteNames.ApprenticeshipsUpdate" method="POST" enctype="multipart/form-data">
            <div class="govuk-form-group" id="ApprenticeshipsSelectionChoice">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Do they offer apprenticeships?
                        </h1>
                    </legend>
                    <div esfa-validation-marker-for="@Model.ApprenticeshipsSelectionChoice" class="govuk-form-group">
                        <span asp-validation-for="ApprenticeshipsSelectionChoice" class="govuk-error-message"></span>
                    <div class="govuk-radios" data-module="govuk-radios">
                        @foreach (var selection in Model.ApprenticeshipsSelection)
                        {
                            <div class="govuk-radios__item">
                                <input name="ApprenticeshipsSelectionChoice" class="govuk-radios__input" id="ApprenticeshipsId-@selection.Id" type="radio"
                                       value="@selection.Id.ToString()" @selection.Checked>
                                <label class="govuk-label govuk-radios__label" for="ApprenticeshipsId-@selection.Id">
                                    @selection.Description
                                </label>
                            </div>
                        }
                    </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-button-group">
                <button type="submit" id="continue" class="govuk-button" data-disable-on-submit="true">Confirm</button>
            </div>
        </form>
    </div>
</div>